@import "index.scss";

.freshworks {
  width: 80%;
  margin: 0 auto;
  background: $secondary-background-color;
  .freshworks-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #ccc;
  }
  .freshworks-body {
    background: $secondary-background-color;
      .categories {
        width: 20%;
        padding: 11px;
        li {
          color: blue;
          padding: 10px;
          &:hover {
            color: black;
            background: $primary-background-color;
          }
        }
      }
      .selected-body {
        width: 78%;
        float: right;
        .installed-apps {
          .installed-app {
            float: left;
          }
        }
      }
      .no-data-available {
        text-align: center;
      }
    }
}