body {
  margin: 0;
  padding: 0;
  background-color: #dee5ea; }

h1, h2, h3, h4, h5, h6 {
  color: #2c2f42; }

a {
  text-decoration: none;
  color: #2c2f42; }
  a:hover {
    color: #00b277; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  ul li {
    cursor: pointer; }

.text-align-center {
  text-align: center; }

.freshworks {
  width: 80%;
  margin: 0 auto;
  background: #fff; }
  .freshworks .freshworks-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #ccc; }
  .freshworks .freshworks-body {
    background: #fff; }
    .freshworks .freshworks-body .categories {
      width: 20%;
      padding: 11px; }
      .freshworks .freshworks-body .categories li {
        color: blue;
        padding: 10px; }
        .freshworks .freshworks-body .categories li:hover {
          color: black;
          background: #dee5ea; }
    .freshworks .freshworks-body .selected-body {
      width: 78%;
      float: right; }
      .freshworks .freshworks-body .selected-body .installed-apps .installed-app {
        float: left; }
    .freshworks .freshworks-body .no-data-available {
      text-align: center; }
